<div class="info-frame">
    <h2>Niveau 1</h2>
</div>
<div id="board-game">
    <div class="reading-zone">
        Il y a un an à peu près, qu’en faisant à la Bibliothèque royale des recherches pour mon histoire de Louis XIV, je tombai par hasard sur les Mémoires de M.
    </div>
</div>