<!DOCTYPE html>
<html>
    <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/materialize.min.css"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-route.min.js"></script>
        <script src="/js/angular-animate.min.js"></script>
    </head>
    <body ng-app="SpeedyRead">
        <ng-view></ng-view>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controller/game.js"></script>
    <script src="/js/service/gameFactory.js"></script>
    <script src="/js/service/sentenceFactory.js"></script>


</html>
